/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

body {
  margin-top: 50px;
}
